
<hr>
<p></p>
<a name="nav-links"></a>
<p>This article is part of a multi-part series on the key ingredients to a better blockchain. Check out the other articles in the series:</p>
  * [Part I: Tech and protocol](/blockchain/2019/09/09/key-ingredients-better-blockchain-part-i-tech-and-protocol.html)
  * [Part II: Decentralization](/blockchain/2019/09/15/key-ingredients-better-blockchain-part-ii-decentralization.html)
  * [Part III: Community](/blockchain/community/2019/09/19/key-ingredients-better-blockchain-part-iii-community.html)
  * [Part IV: Constitution](/blockchain/community/governance/2019/11/18/key-ingredients-better-blockchain-part-iv-constitution.html)
  * [Part V: Governance](/blockchain/governance/2020/01/06/key-ingredients-better-blockchain-part-v-governance.html)
  * Part VI: Privacy (coming soon)
  * Part VII: Economics (coming soon)
  * Part VIII: Usability (coming soon)
  * Part IX: Sustainability (coming soon)
  * Part X: Production readiness (coming soon)

