
<hr>
<p></p>
<a name="nav-links"></a>
<p>This article is part of a multi-part series on the key ingredients to a better blockchain. Check out the other articles in the series:</p>
  * [Part I: Tech and protocol]({% post_url 2019-09-09-key-ingredients-better-blockchain-part-i-tech-and-protocol %})
  * [Part II: Decentralization]({% post_url 2019-09-15-key-ingredients-better-blockchain-part-ii-decentralization %})
  * [Part III: Community]({% post_url 2019-09-19-key-ingredients-better-blockchain-part-iii-community %})
  * [Part IV: Constitution]({% post_url 2019-11-18-key-ingredients-better-blockchain-part-iv-constitution %})
  * [Part V: Governance]({% post_url 2020-01-06-key-ingredients-better-blockchain-part-v-governance %})
  * [Part VI: Privacy]({% post_url 2020-03-26-key-ingredients-better-blockchain-part-vi-privacy %})
  * [Part VII: Economics]({% post_url 2020-09-02-key-ingredients-better-blockchain-part-vii-economics %})
  * [Part VIII: Usability]({% post_url 2020-10-09-key-ingredients-better-blockchain-part-viii-usability %})
  * Part IX: Production Readiness (coming soon)
  * Part X: Sustainability (coming soon)

