<p>This article is part of a multi-part series on the key ingredients to a better blockchain. Check out the other articles in the series:</p>
<ul>
  <li><a href="/blockchain/2019/09/09/key-ingredients-better-blockchain-part-i-tech-and-protocol.html">Part I: Tech and protocol</a>
  <li><a href="/blockchain/2019/09/15/key-ingredients-better-blockchain-part-ii-decentralization.html">Part II: Decentralization</a>
  <li><a href="/blockchain/community/2019/09/19/key-ingredients-better-blockchain-part-iii-community.html">Part III: Community</a>
  <li><a href="/blockchain/community/governance/2019/11/18/key-ingredients-better-blockchain-part-iv-constitution.html">Part IV: Constitution</a>
  <li>Part V: Governance (coming soon)
  <li>Part VI: Privacy (coming soon)
  <li>Part VII: Economics (coming soon)
  <li>Part VIII: Usability (coming soon)
  <li>Part IX: Sustainability (coming soon)
  <li>Part X: Production readiness (coming soon)
</ul>
